body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
            overflow:hidden;
            font-family:verdana;
}

.information {
  position:absolute;
  top:1;
  right:4;
  color:rgba(222,222,222,1.0);
  font-size:12px;
  text-align:center;
  text-transform:none;
}
.infowrap {
  background-color:rgba(22,22,22,0.6);
  width:100%;
}
.move-form {
  position:absolute;
  top:35%;
  left: 46%;
  height:30%;
  width:7%;
}

input {
  height:15%;
  width:100%;
  font-size:12px;
  text-align:center;
  border: 1px solid rgba(200,200,200,0.0);
  background-color:rgba(20,10,20,0.3);
  color:rgba(220,220,220,1.0);
  margin-top:5px;
}
h2 {
  margin-top:-8px;
}
.DispInfo {
  margin:5px;
  font-weight:0;
  font-size:12px;
}
hr {
  opacity:0.2;
}
.CurrentInformation {

  position:absolute;
  top:75%;
  left: 35%;
  height:22%;
  width:26.5%;
  max-height:25%;
  font-weight: 0;
  opacity: 0;
  font-size: 12px;
  font-weight:0;
  text-decoration: none;

  color:rgba(220,220,220,1.0);
  padding:1%;

  font-family:verdana;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow:hidden;

}

.Logs {

  position:absolute;
  top:92.5%;
  left: 78%;
  height:8%;
  width:20%;
  max-height:20%;
  font-weight: 0;
  opacity: 1;
  font-size: 12px;
  font-weight:0;
  text-decoration: none;

  color:rgba(255,255,255,1.0);
  padding:1%;

  font-family:verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow:hidden;

}

.buttondude {
  flex-grow: 1;
  align-items: center;
  text-align: center;

  margin-top:5px;
  font-weight: 0;

  width: 100%;
  height:15%;
  background: brown;
  opacity: 1;

  line-height:50px;
  font-size: 12px;


  font-weight:0;
  text-decoration: none;


  background-color:rgba(20,10,20,0.3);
  color:rgba(220,220,220,1.0);

  display:block;
  float:none;
  font-family:verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;


}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
  border-left: 1px solid #0f0;
  opacity: .2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .5;
}

.item  {
    position: relative;
    float: left;
    width: 110px;
    height: 130px;
    text-align:center;
    border: 1px solid rgba(20,20,20,0.2);
    background-color:rgba(20,10,20,0.15);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin:1px;
    box-shadow: 0px -23px 0px rgba(20,10,20,0.3) inset; 
    text-transform:uppercase;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(220,220,220,0.85);
}

#draggedItem {
    position: absolute;
    z-index: 80;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    opacity:0;
    pointer-events: none;
}

.itemimage {
  width: 100px;
  height: 100px;
  padding: 5px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;  
  opacity:1;
}

.item:hover {
  opacity:0.6;
}
.inventorybg {
  width: 99%;
  height:99%;
  align-items: center;
  overflow:hidden;
  display:none;
  background-image: url("nui://np-inventory/html/invbg.png");
  background-repeat:no-repeat;
  background-size:100% 100%;

  filter: blur(0.8rem);
  opacity:0.2;
  border: 1px solid rgba(200,200,200,0.9);
  position:absolute;

  z-index:-1;
}

.inventory {
  width: 99%;
  height:99%;
  display: flex;
  align-items: center;
  overflow:hidden;
  display:none;
  z-index:12211;
}


.itemname {
  text-align:center;
  width:110px;
  font-size:8px;
  position:absolute;
  bottom:7px;
  color:white;
}

.wrapmain {
  margin-top:15%;
  width: 31%;
  margin-left:10%;
  float:left;
  overflow-y:scroll;
  height:45%;
}

.wrapsecondary {
  margin-top:15%;
  width: 31%;
  margin-right: 10%;
  float:right;
    overflow-y:scroll;
  height: 45%;
}

.wrapmain::-webkit-scrollbar {
  width:5px; 
}

.wrapmain::-webkit-scrollbar-thumb {
  background:rgba(111,111,185,0.7) !important; 
}

.wrapsecondary::-webkit-scrollbar {
  width:5px; 
}

.wrapsecondary::-webkit-scrollbar-thumb {
  background:rgba(111,111,185,0.7) !important; 
}


.wrapPersonalWeight {
  position:absolute;
  left:10.5%;
  top:24%;
  font-size:14px;
  color:white;
}

.wrapSecondaryWeight {
  position:absolute;
  left:58.5%;
  top:24%;
  font-size:14px;
  color:white;
}