html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    color: #fff;
    font-family: Arial;
    width: 20%;
    position: fixed;
    bottom: 5%;
    left: 40%;
}

.progress-labels {
    width: 75%;
    top: 9px;
    height: 20px;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap
}

.progress-labels div {
    font-size: 16px;
    position: relative;
    color: #ffffff;
    z-index: 10;
    font-family: Arial;
	font-weight: bold;
}

.progress-bar-container {
    width: 75%;
    background-color: rgba(0, 0, 0, .2);
    height: 30px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.progress-bar {
    width: 0%;
    background-color: #ff5f00;
    height: 30px;
    border-radius: 1px;
    background-size: 30px 30px;
    --background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    transition: width 0.3s;
    transition-timing-function: ease-out;
}