@font-face {
    font-family: 'gta-ui';
    src: url('./fonts/gta-ui.ttf');
}

#heal {
    position: absolute;
    left: 1.40%;
    bottom: 1.6%;
    width: 13.90%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}

#armor {
    position: absolute;
    left: 8.53%;
    bottom: 1.6%;
    width: 6.79%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}


#heal2 {
    position: absolute;
    left: 1.40%;
    bottom: 1.6%;
    width: 6.92%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}

#hunger {
    position: absolute;
    left: 1.381%;
    bottom: 0.35%;
    width: 4.500%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}
#thirst {
    position: absolute;
    left: 6.10%;
    bottom: 0.35%;
    width: 4.500%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}

#stamina {
    position: absolute;
    left: 10.8%;
    bottom: 0.35%;
    width: 4.500%;
    height: 0.80%;
    padding: 0;
    border: 2px solid rgba(0, 0, 0, 0.7);
    float:left;
    background:#545454;
}


#boxHeal, #boxHeal2, #boxArmor, #boxStamina, #boxHunger, #boxThirst {
    background: #73be73;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

#boxHunger {
    background: #f6b93b;
}

#boxArmor {
    background: #4b59b4;
}

#boxThirst {
    background: #6a89cc;
}

#boxStamina {
    background: #ffff7f;
}

.healthnumber, .armornumber, .healthnumber2 {
    font-family: "gta-ui", Verdana, Tahoma;
    position: absolute;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.healthnumber {
     left: 8.1%;
     font-size: 20px;
     bottom: 1.75%;
     color: rgb(255, 255, 255);
 }

.healthnumber2 {
    left: 4.8%;
    font-size: 20px;
    bottom: 1.75%;
    color: rgb(255, 255, 255);
}

.armornumber {
    left: 11.7%;
    font-size: 20px;
    bottom: 1.75%;
    color: rgb(255, 255, 255);
}

body {
    overflow: hidden;
    height:1080px;
    width:100%;
}
